:root {
    --bg: #ffffff;
    --text: #000000;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--bg);
    color: var(--text);
}