:root {
    --animation-duration: 900ms;
}

.progress {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: spin var(--animation-duration) linear infinite;
    animation-play-state: paused;
}

.progress_play {
    animation-play-state: running;
}

@keyframes spin {
    to {
        transform: rotate(270deg);
    }
}