.progress__arc {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: spin 900ms linear infinite;
    animation-play-state: paused;
}

.progress__arc_play {
    animation-play-state: running;
}

@keyframes spin {
    to {
        transform: rotate(270deg);
    }
}