* {
    box-sizing: border-box;
}

html,
body {
    display: grid;
    place-items: center;
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    font-family: var(--main-font-style), sans-serif;
    font-weight: var(--font-weight);
    background-color: var(--bg);
    color: var(--text);
}

.app {
    display: grid;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 5px;
    gap: 50px;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.control {
    display: flex;
    gap: 10px;
    align-items: center;
}

.value-input {
    border: 2px #000 solid;
    width: 60px;
    height: 34px;
    border-radius: 34px;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}

.progress-area {
    display: flex;
}

.progress-area__wrapper {
    flex-grow: 1;
    display: grid;
}

.app__header {
    position: absolute;
    margin: 0;
    padding: 5px;
    font-size: inherit;
}

@media (orientation: portrait) {
    .app {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        max-height: 568px;
        max-width: 320px;
    }

    .progress-area__wrapper {
        place-items: end center;
    }

    .controls {
        align-self: start;
        justify-self: center;
    }
}

@media (orientation: landscape) {
    .app {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        max-height: 320px;
        max-width: 568px;
    }

    .progress-area__wrapper {
        place-items: center end;
    }

    .controls {
        align-self: center;
        justify-self: start;
    }
}