* {
    box-sizing: border-box;
}

html,
body {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: var(--main-font-style), sans-serif;
    font-weight: var(--font-weight);
    background-color: var(--bg);
    color: var(--text);
}

.app {
    height: 100%;
    width: 100%;
    display: grid;
    padding: 10px;
    place-items: center;
}

@media (orientation: portrait) {
    .app {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        max-height: 568px;
        max-width: 320px;
    }
}

@media (orientation: landscape) {
    .app {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        max-height: 320px;
        max-width: 568px;
    }
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.control {
    display: flex;
    gap: 10px;
    align-items: center;
}

.value-input {
    border: 2px #000 solid;
    width: 60px;
    height: 34px;
    border-radius: 34px;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}
